.metamask{
    display: flex;
    flex-direction: column;
}

.metamask-download{
    display: flex;
    flex-direction: row;
    padding: 4rem 4rem;
}

.left-side{
    width: 40%;
}


.right-side{
    width: 60%;
}

.title{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    font-family: var(--default-font);
    font-weight: 700;
}

.explore-title{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: var(--default-font);
    font-weight: 700;
}

.text{
    line-height: 1.5;
    margin-bottom: 1.5rem;
    text-align: left;
    font-family: var(--secondary-font);
    font-weight: 400;
}

.explore-text{
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: 400;
}

.right-side{
    display: flex;
    flex-direction: column;
}

.metamask1{

}


.metamask2{
    width: 10rem;
    margin-left: 7rem;
    margin-top: 7rem;
}

.connect-button-holder{
    display: flex;
    justify-content: center;
}


.connect-button {
    max-width: 30rem;
    padding: 1rem 5rem;
    border-radius: 2rem;
    border: none;
    font-size: 1.5rem;
    margin: 2rem 2rem;
    background: linear-gradient(90deg, rgba(246,211,101,1) 0%, rgba(253,160,133,1) 100%);
    color: white;
    cursor: pointer;
}

.blocz-wallet-button-holder{
    display: flex;
    justify-content: center;
}

.blocz-wallet{
    font-size: 2rem;
    max-width: 50rem;
    padding: 1.5rem 4rem;
    background: linear-gradient(90deg, rgba(212,252,121,1) 0%, rgba(150,230,161,1) 100%);
    border: none;
    border-radius: 2.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.explore-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}