.miner-profile-page {
  display: flex;
  flex-direction: column;
}

.main-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
}

.full-page {
  display: flex;
  flex-direction: row;
}

.quests-section {
  display: flex;
  flex-direction: row;
}

.profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.progress-bar {
  margin-top: 0.5rem;
  width: 273px;
  height: 14px;
  left: 125px;
  top: 489px;
  background: #c4c4c4;
  border-radius: 50px;
}

.fill {
 
  width: 123px;
  height: 14px;
  left: 125px;
  top: 489px;
  background: #91f581;
  border-radius: 50px;
}

.name-text {
  font-family: var(--secondary-font);
  color: #a5a5a5;
}

.profile-image {
  width: 60%;
}

.edit-profile-button {
  margin-top: 1rem;
  /* max-width: 50%; */
  padding: 1rem 2rem;
  font-family: var(--secondary-font);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: none;
  background-color: #ebebeb;
  cursor: pointer;
  font-size: 1.1rem;
}

.quests-title {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1rem;
  font-family: var(--secondary-font);
}

.quest {
  width: 100%;
  display: flex;
  padding: 1rem 1rem;
  background-color: #ebebeb;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.done {
  background-color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.quest-text {
  font-family: var(--secondary-font);
  font-weight: 400;
  margin-right: 1.5rem;
  width: 70%;
  text-align: left;
}

.quest-text-last {
  font-family: var(--secondary-font);
  font-weight: 400;
  margin-right: 1.5rem;
  width: 100%;
  justify-content: center;
  display: flex;
  text-align: left;
}

.text-reward {
  font-family: var(--secondary-font);
  font-weight: 600;
  margin-right: 1.5rem;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 4rem;
}

.button-defi {
  width: 15rem;
  padding: 1.5rem;
  margin-right: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.2rem;
  color: white;
  background: linear-gradient(270deg, #8d95cb 0%, #6ad9aa 105.57%);
  cursor: pointer;
}

.button-nft {
  width: 15rem;
  padding: 1.5rem;
  margin-right: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.2rem;
  color: white;
  background: linear-gradient(270deg, #cacb8d 0%, #6ad9aa 105.57%);
  cursor: pointer;
}

.button-racing {
  width: 15rem;
  padding: 1.5rem;
  margin-right: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.2rem;
  color: white;
  background: linear-gradient(
    97.34deg,
    #4b9ec7 9.66%,
    #a24ee4 57.47%,
    #c630d3 84.21%
  );
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 4rem;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #c8e4ff;
}

.header-element {
  padding: 0.5rem 5rem;
  background-color: #67d0df;
  margin: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: var(--secondary-font);
  cursor: pointer;
}

.header-element-selected {
  padding: 0.5rem 5rem;
  background-color: #eef1f8;
  margin: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: var(--secondary-font);
  cursor: pointer;
}

.display {
  width: 100%;
  height: 700px;
  background-color: #eef1f8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 20rem;
  border-radius: 0.5rem;
  background-color: white;
}

.card-img {
  width: 100%;
  height: 70%;
}

.img {
  max-width: 100%;
}

.text-holder {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
}

.wallet-container {
  width: 30%;
}
