

.top-section{
    width: 100%;
    background-color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.wallet-title{
    display: flex;
    flex-direction: column;
    text-align: top;
}

.connected{
    width: 0.75rem;
    height: 0.75rem;
    background-color: green;
    border-radius: 50%;
}


.wallet-title-text{
    font-family: var(--secondary-font);
    font-size: 0.75rem;
}

.wallet-title-text-2{
    font-family: var(--secondary-font);
    font-size: 0.5rem;
}

.title-balance{
    margin: 0.5rem 0;
    font-size: 1.2rem;
}


.wallet-buttons{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: space-evenly;
}

.wallet-button{
    color: white;
    background-color: #367bcf;
    padding: 0.5rem 2rem;
    font-size: 0.75rem;
    border: none;
    outline: none;
    border-radius: 1.5rem;
}


.cards{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    /* height: 40%;
    overflow: auto; */
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0.25rem;
    background-color: #ececec;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
    align-items: center;
}

.tokens{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.token-img{
    width: 100%;
}

.token-text{
    display: flex;
    flex-direction: column;
}

.token-title{
    font-size: 0.75rem;

}

.token-subtitle{
    color: #7b7b7b;
    font-size: 0.75rem;
}

.button-balance{
    padding: 0.55rem 0.25rem;
    border-radius: 1.5rem;
    font-size: 0.75rem;
    width: 7rem;
    border: 1px solid black;
}

