.top-section{
   padding: 2rem 0;
}

.title{
    font-size: 2em;
    font-weight: 400;
}

.text{
    font-size: 0.75rem;
    font-weight: normal;
    padding: 1rem 1rem;
}


.unlock-button{
    width: 60%;
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    font-size: 1.2rem;
    font-weight: 700;
    background: linear-gradient(90deg, rgba(250,208,196,1) 0%, rgba(255,209,255,1) 100%);
    border: none;
    cursor: pointer;
}